@use "../../styles/variables" as *;

.list {
  background: $light-color-bg;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 44vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  /* Optional: smooth scrolling and hide scrollbar on mobile */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #cfcfcf transparent;

  @media (min-width: $breakpoint-tablet) {
    @media (max-height: 799px) {
      max-height: 44vh;
    }
    @media (min-height: 800px) {
      max-height: 49vh;
    }
  }
}

[data-theme="dark"] .list {
  background: $dark-color-border;
}

/* Optional: Hide scrollbar for Webkit browsers */
.list::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 50%;
}
.list::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
