@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// Primary
$color-primary: hsl(220, 98%, 61%);
$gradient-primary: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme

$light-color-bg: hsl(0, 0%, 98%); // very light gray
$light-color-wrapper: hsl(0, 0%, 100%); // white
$light-color-text: hsl(235, 19%, 35%); // dark gray
$light-color-text-muted: hsl(236, 33%, 92%); // grayish blue
$light-color-text-secondary: hsl(236, 9%, 61%); // light grayish blue
$light-color-border: hsl(233, 11%, 84%); // light grayish blue

// Dark Theme
$dark-color-bg: hsl(235, 21%, 11%); // very dark blue
$dark-color-wrapper: hsl(235, 24%, 19%); // very dark desaturated blue
$dark-color-text: hsl(234, 39%, 85%);
$dark-color-text-hover: hsl(236, 33%, 92%);
$dark-color-text-secondary: hsl(234, 11%, 52%);
$dark-color-text-muted: hsl(233, 14%, 35%);
$dark-color-border: hsl(237, 14%, 26%);

// Typography
$font-size-base: 1.125rem; // 18px
$font-size-large: 1.75rem; // 28px

// Font
$font-family: "Josefin Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
