@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// Primary
$primary-color: hsl(220, 98%, 61%);
$primary-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme
$light-very-light-gray: hsl(0, 0%, 98%);
$light-very-light-grayish-blue: hsl(236, 33%, 92%);
$light-light-grayish-blue: hsl(233, 11%, 84%);
$light-dark-grayish-blue: hsl(236, 9%, 61%);
$light-very-dark-grayish-blue: hsl(235, 19%, 35%);

// Dark Theme
$dark-dark-blue: hsl(235, 21%, 11%);
$dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$dark-light-grayish-blue: hsl(234, 39%, 85%);
$dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-dark-grayish-blue: hsl(234, 11%, 52%);
$dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
$dark-very-dark-grayish-blue-alt: hsl(237, 14%, 26%);

// Typography
$font-size-base: 18px;
$font-size-large: 2rem;

// Font
$font-family: "Josefin Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
