@use "../../styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.title {
  color: white;
  font-size: $font-size-large;
  font-weight: 600;
  letter-spacing: 0.8rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    font-size: calc($font-size-large + 0.75rem);
  }
}

.toggleButton {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  padding: 0.5rem;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
}
