@use "../../styles/variables" as *;

.filters {
  background: $light-very-light-gray;
  padding: 1.125rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin: 1.2rem 0;

  button {
    background: none;
    border: none;
    color: $light-dark-grayish-blue;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      color: $light-very-dark-grayish-blue;
    }
  }
}

[data-theme="dark"] .filters {
  background: $dark-very-dark-desaturated-blue;
}

.active {
  font-weight: bold;
  color: $primary-color !important;
  background: var(--color-border);
}

@media (min-width: $breakpoint-tablet) {
  .filters {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }
}
