@use "../../styles/variables" as *;

.filters {
  background: $light-color-wrapper;
  padding: 0.87rem 1.25rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin: 1.1rem 0;

  button {
    background: none;
    border: none;
    color: $light-color-text-secondary;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 1rem;

    &:hover {
      color: $light-color-text;
    }
  }
}

[data-theme="dark"] .filters {
  background: $dark-color-wrapper;

  button {
    color: $dark-color-text-secondary;

    &:hover {
      color: $dark-color-text-hover;
    }
  }
}

.active {
  font-weight: bold;
  color: $color-primary !important;
  background: var(--color-border);
}

@media (min-width: $breakpoint-tablet) {
  .filters {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }
}
