@use "../../styles/variables" as *;

// Wrapper
.footerWrapper {
  background: $light-color-wrapper;
  padding: 1.2rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

[data-theme="dark"] .footerWrapper {
  background: $dark-color-wrapper;
}

.fullRadius {
  border-radius: 5px;
}
.bottomRadius {
  border-radius: 0 0 5px 5px;
}

// Footer content
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;

  span {
    color: $light-color-text-secondary;
  }

  @media (min-width: $breakpoint-tablet) {
    .filters {
      margin: 0;
      box-shadow: none;
      background: none;
      padding: 0;
      border-radius: 0;
      gap: 1.2rem;
    }
  }
}

[data-theme="dark"] .footer {
  span {
    color: $dark-color-text-secondary;
  }
}

// Filters
.filters {
  display: flex;
  gap: 0.5rem;

  button {
    background: none;
    border: none;
    color: $light-color-text-secondary;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: $light-color-text;
    }
  }
}

[data-theme="dark"] .filters {
  button {
    color: $dark-color-text-secondary;

    &:hover {
      background: $dark-color-text-hover;
    }
  }
}

.active {
  font-weight: bold;
  color: $color-primary;
}

// Clear button
.clear {
  background: none;
  border: none;
  padding: 0;
  color: $light-color-text-secondary;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    color: $light-color-text;
  }
}

[data-theme="dark"] .clear {
  color: $dark-color-text-secondary;
}
[data-theme="dark"] .clear:hover {
  color: $dark-color-text-hover;
}
