@use "../../styles/variables" as *;
.footerWrapper {
  background: $light-very-light-gray;
  padding: 1.2rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

[data-theme="dark"] .footerWrapper {
  background: $dark-very-dark-desaturated-blue;
}

.fullRadius {
  border-radius: 8px;
}

.bottomRadius {
  border-radius: 0 0 8px 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;

  span {
    color: $light-dark-grayish-blue;
  }
}

.filters {
  display: flex;
  gap: 0.5rem;

  button {
    background: none;
    border: none;
    color: $light-dark-grayish-blue;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: var(--color-border);
    }
  }
}

.active {
  font-weight: bold;
  color: $primary-color;
}

.clear {
  background: none;
  border: none;
  padding: 0;
  color: $light-dark-grayish-blue;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    color: $light-very-dark-grayish-blue;
  }
}
