@use "../../styles/variables" as *;

.inputWrapper {
  background: $light-very-light-grayish-blue;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.input {
  width: 100%;
  border: none;
  background: transparent;
  color: var(--color-text);
  font-size: 1.1rem;
  outline: none;
}
